#home{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  text-align: center;
}


h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  list-style-type: none;
}

ul{
  list-style-type: none;
}

#process, #work, #team, #contact{
  text-align: center;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

h4{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  text-align: center;
}

.footer{
  background-color: dimgray;
  color: white;
  font-family: Helvetica;
  font-size: 11px;
}

.flink{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
